{% extends 'accounts/base.html' %}
{% load i18n %}
{% block content %}
<script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<style>
    .warning {
        color: red;
    }
    .success {
        color: green;
    }
</style>
<div class="container">
    <h1 class="text-center mb-4">Liste des attributions</h1>
    {% for data in datas %}
        <p class="text-center mb-3">
            {{data.member__name}} a reçu 
            <a href="https://fr.classic.wowhead.com/item={{data.item__media}}">{{data.item__name}}</a> 
            le {% language 'fr' %}
                    {{data.date|date:'d F Y' }}
                {% endlanguage %}
        </p>
    {%endfor%}
</div>

{% endblock %}