{% load static %}
<style>
    .omnium-logo
    {
        height: 100%;
        width: 70px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0b002b;">
    <a href="{% url 'home' %}">
        <img src="{% static 'images/logo_omnium.png' %}" alt="" class="omnium-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nat-item text-white mr-3 ml-4">
               <a class="text-white" href="{% url 'wishlist' %}">Ma wishlist</a> 
            </li>
            <li class="nat-item text-white mr-3">
                <a class="text-white" href="{% url 'council' %}">Council</a>
            </li>
            <li class="nat-item text-white mr-3">
               <a class="text-white" href="{% url 'history' %}">Loot history</a>
            </li>
            <li class="nat-item text-white mr-3">
                <a class="text-white" href="{% url 'attrib' %}">Attrib</a>
            </li>
            <!-- <li class="nat-item">
               <a class="text-white" href="{% url 'account' %}">Profil</a> 
            </li> -->
        </ul>
        <span class="form-inline my-2 my-lg-0">
            <a class="text-white" href="{% url 'logout' %}"> 
                <i class="fas fa-sign-out-alt"></i>
                Se déconnecter
            </a>
        </span>
    </div>

    <!-- <span class="text-white">Hello, {{request.user}}</span> -->
    
</nav>