{% extends 'accounts/base.html' %}
{% block content %}
<head>
    <script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <!-- <script>
    $( function() {
        $("#sortable" ).sortable();
        $("#sortable" ).disableSelection();
    } );
    </script> -->
    
</head>
<div class="container">
    <h1 class="text-center">Wishlist</h1>
    <div class="card card-body">
        <form action="" method="post" class="form-inline mb-5">
            {% csrf_token %}
            <div class="form-group mr-5">
                <input type="text" class="form-control" placeholder="Nom de l'item" name="item_name">
            </div>
            <input type="submit" class="btn btn-primary" value="Rechercher">
            {{error_message}}
        </form>
        <div class="row ml-1 d-flex align-items-center">
            <a href="https://www.wowhead.com/item={{data}}">{{item_name}}</a>
            <input type="submit" value="Ajouter l'item" class="btn btn-success ml-5">
        </div>
        <!-- <ul id="sortable">
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></li>
        </ul> -->
           
    </div>
</div>
{% endblock %}
