{% extends 'accounts/base.html' %}
{% block content %}
<script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
<script src="https://wow.zamimg.com/widgets/power.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<style>
    .warning {
        color: red;
    }
    .success {
        color: green;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <h1 class="text-center mb-5">Wishlist</h1>
            {% if wishlist_member|length > 0 %}
                <table class="table">
                    <tr>
                        <th>Position</th>
                        <th>Item</th>
                    </tr>
                    {% for wishlist in wishlist_member|dictsort:'order' %}
                        <tr>
                            <td>{{wishlist.order}}</td>
                            <td><a href="https://fr.classic.wowhead.com/item={{wishlist.media}}">{{wishlist.item}}</a></td>
                        </tr>
                    {% endfor %}

                </table>
            {%endif%}
        </div>
        <div class="col-6">
            <h1 class="text-center">Ajouter dans sa wishlist</h1>
            <form action="" method="post" class="form-inline d-flex justify-content-center align-items-center">
                {% csrf_token %}
                <div class="form-group mr-2">
                    <input type="text" class="form-control" placeholder="Nom de l'item" name="item_name">
                </div>
                <input type="submit" class="btn btn-primary" value="Rechercher" name="looking_for_item">
            </form>
            {% for message in messages %}
                <p class="{{message.tags}}">{{message}}</p>
            {%endfor%} 
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Position</th>
                    <th class='text-center'>Ajout à la wishlist</th>
                </tr>
                    {% for data in datas %}
                        <form action="" method="post">
                            {% csrf_token %}   
                            {% if data.data.quality.name.fr_FR == 'Épique' or data.data.quality.name.fr_FR == 'Rare' or data.data.quality.name.fr_FR == "Légendaire" and data.data.level < 60 %}
                                <tr>
                                    <td>
                                        <input type="hidden" name="item" value="{{data.data.name.fr_FR}}">
                                        <input type="hidden" name="media" value="{{data.data.media.id}}">
                                        <a href="https://fr.classic.wowhead.com/item={{data.data.media.id}}"> {{data.data.name.fr_FR}}</a>
                                    </td>
                                    <td>
                                        <input type="text" name="order" placeholder="Position de l'item">
                                    </td>
                                    <td><input type="submit" name="add_wishlist" value="Ajouter l'item" class="btn btn-success ml-5"></td>
                                </tr>
                            {%endif%}
                        </form>
                    {%endfor%}
                    
            </table>
        </div>
    </div>
   
    <div class="row ml-1">
        
            
    </div>
    <!-- <ul id="sortable">
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></li>
    </ul> -->
           
</div>
{% endblock %}
